@mixin page {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  padding-left: 265px;
  .titleBlock {
    position: relative;

    .title {
      @include greeting;
      text-transform: uppercase;
      position: relative;
      margin: .5rem;
      z-index: 2;
    }

    .titleShadow {
      @include greeting;
      position: absolute;
      left: 0;
      top: 100%;
      text-transform: uppercase;
      font-size: 6rem;
      line-height: 1;
      font-weight: 900;
      color: rgba(25, 29, 43, .44);
      z-index: 1;
      transform: translateX(10%) translateY(-106%);
      white-space: nowrap;
      margin: .5rem;
    }
  }
}

@mixin greeting {
  font-weight: 700;
  font-size: 2.4857rem;
  line-height: 3.4rem;
  font-family: 'Varela Round', Calibri, serif;
  color: #fff;
  margin-bottom: 20px;
}







