$valeraFamily: 'Varela Round', Calibri, serif;
$nunitoFamily: 'Nunito Sans', sans-serif;

@mixin headerBlock {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(0);
  height: 100vh;
  width: 260px;
  background: #191d2b;
  border-right: 7px solid #2e344e;
  z-index: 10;
  transition: all .4s ease-out;
  @media only screen and (max-width: 1199px) {
    transform: translateX(-100%);
  }

  .headerToggler {
    position: absolute;
    left: 103%;
    top: 20px;
    padding: 0;
    height: 36px;
    width: 45px;
    text-align: center;
    font-size: 1.6rem;
    background: #191d2b;
    justify-content: center;
    align-items: center;
    display: none;
    border: 1px solid #2e344e;
    font-family: $nunitoFamily;
    color: #a4acc4;
    @media only screen and (max-width: 1199px) {
      display: flex;
    }

    &:focus {
      outline: none;
    }
  }
}

@mixin greeting {
  font-family: $valeraFamily;
  font-weight: 700;
  font-size: 2.4857rem;
  line-height: 3.4rem;
  color: #fff;
  margin-bottom: 20px;
}

@mixin pseudo {
  content: "";
  position: absolute;
  left: 62px;
  bottom: 0;
  height: 5px;
  width: 212px;
  border-radius: 100px;
  background: rgba(3, 127, 255, .3);
}

@mixin page {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $valeraFamily;
  font-weight: 400;
  font-size: 1.5em;
  color: rgb(164, 172, 196);
  .titleBlock {
    position: relative;
    margin: 80px 15px 0;
    @media only screen and (max-width: 1124px) {
      margin: 40px 15px 0;
    }

    .title {
      @include greeting;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 2.57rem;
      line-height: 3.2857rem;
      @media only screen and (max-width: 1124px) {
        font-size: 2rem;
      }
      //&:before {
      //  @include pseudo;
      //}
      //
      //&:after {
      //  @include pseudo;
      //  left: 218px;
      //  width: 55px;
      //  background: #037fff;
      //}
    }

    .titleShadow {
      @include greeting;
      position: absolute;
      left: 0;
      top: 85%;
      text-transform: uppercase;
      font-size: 5rem;
      line-height: 1;
      font-weight: 900;
      color: rgba(25, 29, 43, .7);
      z-index: -1;
      transform: translateX(9%) translateY(-144%);
      white-space: nowrap;
      margin: .5rem;
      @media only screen and (max-width: 1124px) {
        font-size: 2.8rem;
        transform: translateX(8%) translateY(-180%);
      }
    }
  }
}
