.main {
    /*border: 1px #7dff10 dashed;*/
    height: 100vh;
    background-color: #8f948f;
    display: flex;
    justify-content: center;
}

.container {
    /*border: 1px white dashed;*/
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greeting {
    border: 1px #2356ff dashed;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.photo {
    border: 1px #2356ff dashed;
    width: 300px;
    height: 400px;
}
