.header {
    /*border: 1px #7dff10 dashed;*/
    height: 50px;
    background-color: #8c5a60;
    display: flex;
    justify-content: center;
}

.container {
    /*border: 1px white dashed;*/
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    /*border: 1px #2356ff dashed;*/
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.link {
    /*border: 1px #ffda30 dashed;*/
    color: #f7f4cae0;
    text-decoration: none;
}
