.main {
    /*border: 1px #7dff10 dashed;*/
    height: 300px;
    background-color: #8f948f;
    display: flex;
    justify-content: center;
}

.container {
    /*border: 1px white dashed;*/
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.greeting {
    /*border: 1px #2356ff dashed;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 100%;
    justify-content: center;
}

.photo {
    /*border: 1px #2356ff dashed;*/
    width: 300px;
    height: 100%;
    justify-content: center;
}
