@import "src/sass/base";

.container {
  @include itemContainer;
  width: 363px;
  margin: 10px 0;

  .item {
    border-radius: 5px;
    background-image: url('../../../assets/images/tracking.PNG');
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      visibility: hidden;
      border-radius: 5px;
    }

    &:hover:before {
      height: 100%;
      width: 100%;
      visibility: visible;
      background: rgba(3, 127, 255, 0.4);
      transition: all .4s ease-out;
    }
  }

  .description {
    @include text;
  }
}

/*.button {*/
/*    background-color: #8f948f;*/
/*    height: 25%;*/
/*    width: 45%;*/
/*    font-size: 20px;*/
/*    color: #8c5a60;*/
/*}*/



