@import "src/sass/base";

.container {
  @include itemContainer;
  width: 361px;
  margin: 10px 0;

  .item {
    height: 230px;

    .itemBg {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      top: 0;
      z-index: -1;
      background-size: cover;
      background-position: center;
      transition: all 1s cubic-bezier(.01, .57, .68, 1.05) 0s;
    }

    &:before {
      content: "";
      position: absolute;
      width: 0;
      visibility: hidden;
      border-radius: 5px;
    }

    &:hover:before {
      height: 100%;
      width: 100%;
      visibility: visible;
      background: rgba(3, 127, 255, 0.3);
      transition: all .4s ease-out;
    }
  }

  .description {
    @include text;
  }
}



