@import "src/sass/base";


.page {
  @include page;

}

//.projectsContainer {
//    border: 1px greenyellow dashed;
//    min-height: 80vh;
//    width: 80%;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    align-items: center;
//}

.projects {
    border: 2px greenyellow dashed;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}