@import "src/sass/base";

.page {
  @include page;
  align-items: center;
  justify-content: center;

  .greeting {
    @include greeting;

    .name {
      color: #037fff;
    }
  }

  .about {
    font-family: 'Varela Round', Calibri, serif;
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(164, 172, 196);
    margin: 20px;
  }

  .icons {
    width: 234px;
    display: flex;
    justify-content: space-around;

    .icon {
      height: 26px;
      width: 26px;
      transition: 400ms;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}