@import "src/sass/base";

* {
  box-sizing: border-box;

  .home {
   @include page;

    .greeting {
      font-weight: 700;
      font-size: 2.4857rem;
      line-height: 3.4rem;
      font-family: 'Varela Round', Calibri, serif;
      color: #fff;
      margin: 20px;

      .name {
        color: #037fff;
      }
    }

    .aboutMe {
      font-family: 'Varela Round', Calibri, serif;
      font-weight: 400;
      color: rgb(164, 172, 196);
      font-size: 1.5em;
      margin: 20px;
    }

    .icons {
      width: 234px;
      display: flex;
      justify-content: space-around;

      .icon {
        height: 26px;
        width: 26px;
        transition: 400ms;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}