@import "src/sass/base";

.page {
  @include page;
  justify-content: unset;

  .cards {
    @include cards;

    span {
      @include cards;
      margin: 0;
      position: absolute;
      border: #10121b 1px solid;

      &:nth-child(1) {
        top: 6px;
        left: 6px;
      }

      &:nth-child(2) {
        top: 12px;
        left: 12px;
      }

      &:nth-child(3) {
        top: 18px;
        left: 18px;
      }

      &:nth-child(4) {
        top: 24px;
        left: 24px;
      }

      &:nth-child(5) {
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        top: 30px;
        left: 30px;

        .about {
          display: flex;
          justify-content: space-around;

          .icons {
            display: flex;
            flex-direction: column;

            h4 {
              margin: 0;
              color: #037fff;
            }

            h5 {
              margin: 0;
              color: #a4acc4;
            }
          }

          img {
            width: 100px;
            height: 100px;
          }
        }

        .phone {
          display: flex;
          align-items: center;
          color: #fff;
          font-size: 16px;

          a {
            color: #fff;
            font-size: 16px;
            //margin-right: 14px;
            text-decoration: none;

            &:hover {
              color: #037fff;
            }
          }
        }
      }
    }
  }
}

