@import "src/sass/base";

.page {
  @include page;
  justify-content: unset;

  .cards {
    display: flex;
    position: fixed;
    top: 215px;
    margin: 90px 15px;
    @media only screen and (max-height: 360px) {
      top: 30px;
      left: 265px;
    }

    span {
      @include emptyCard;

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 6px;
        left: 6px;
      }

      &:nth-child(3) {
        @include contentCard;
        top: 12px;
        left: 12px;
      }

      &:nth-child(4) {
        top: 18px;
        left: 18px;
        @media only screen and (max-width: 375px) {
          visibility: hidden;
        }
      }

      &:nth-child(5) {
        top: 29px;
        left: 21px;
        @media only screen and (max-width: 375px) {
          visibility: hidden;
        }
      }

      &:nth-child(6) {
        @include contentCard;
        @media only screen and (max-width: 375px) {
          visibility: hidden;
        }
      }

      &:nth-child(7) {
        @include contentCard;
        top: 2px;
        left: 415px;
        transform: rotate(-45deg);
        @media only screen and (max-width: 785px) {
          visibility: hidden;
        }
      }

      &:nth-child(8) {
        @include contentCard;
        top: -179px;
        left: 515px;
        transform: rotate(-35deg);
        @media only screen and (max-width: 890px) {
          visibility: hidden;
        }
      }

      &:nth-child(9) {
        @include contentCard;
        top: -151px;
        left: 697px;
        transform: rotate(-25deg);
        @media only screen and (max-width: 1070px) {
          visibility: hidden;
        }
      }
    }
  }
}

