@import "src/sass/base";

.page {
  @include page;
  justify-content: unset;

  .businessCards {
    @include businessCards;

    .card {
      @include card;

      &:nth-child(1) {
        top: 6px;
        left: 6px;
      }

      &:nth-child(2) {
        top: 12px;
        left: 12px;
      }

      &:nth-child(3) {
        top: 18px;
        left: 18px;
      }

      &:nth-child(4) {
        top: 24px;
        left: 24px;
      }

      &:nth-child(5) {
        justify-content: unset;

        padding: 15px;
        top: 30px;
        left: 30px;
        .icon {
          color: #037fff;
        }
      }
    }
  }
}
