.header {
    /*border: 1px #7dff10 dashed;*/
    height: 65px;
    background-color: #8c5a60;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.container {
    /*border: 1px white dashed;*/
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

