@import "src/sass/base";

.container {
  @include itemContainer;

  .item {
    background-image: url('../../../assets/images/bagUp.png');
    @media only screen and (max-width: 1124px) {
      background-image: url('../../../assets/images/bagDown.png');
    }

    .content {
      @include text;
      text-align: center;
      padding: 10px 19px 44px 20px;
      @media only screen and (max-width: 1124px) {
        padding: 10px 43px 21px 23px;
      }
    }
  }
}