* {
    box-sizing: border-box;
}

.skillContainer {
    background: #8f948f;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center ;
    padding: 10px;
}

.iconSkill {
    width: 80px;
    height: 80px;
    background-color: #3f2c2f59;
}
