.footerBlock {
    height: 300px;
    background-color: #10100ec7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footerContainer {
    border: 1px white dashed;
    width: 80%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.footerTitle {
    background-color: #8f948f;
}

.socialLinks {
    width: 311px;
    display: flex;
    justify-content: space-around;
}

.item {
    height: 50px;
    width: 50px;
    background-color: #8f948f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottom {
    background-color: #8f948f;

}